<h1>WELCOME TO CHAT APP, <span></span></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente modi, perferendis suscipit aliquid adipisci fuga? Distinctio saepe repellendus veniam dolorum soluta incidunt atque deleniti consequuntur laudantium recusandae exercitationem dolores quod accusamus sint, sunt repudiandae quaerat facilis asperiores eos aut id.</p>
<div>
    <button><a class="profile-link">go to your profile</a></button>
</div>