<div class="wrapper">
     <form action="/login" method="POST">
        <div class="email">
            <input type="text" name="email" placeholder="email adress" >
        </div>
        <div class="password">
            <input type="password" name="password" placeholder="password">
        </div>
        <div class="button">
            <button type="submit">Login</button>
        </div>
        <div class="link">
            Don't have account?  <a href="/register"><span>Register</span></a>
        </div>
    </form>
</div>