<div class="wrapper">
    <aside>
        <div class="logo">

           <img src="./images/authBackground.jpg" alt="">
        </div>
        <div >
    <i id="myFriends" class="fa-solid fa-user-group"></i>
        </div>
        <div >
            <i id="search-bar" class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div >
            <i id="sentRequests" class="fa-solid fa-right-long"></i>
        </div>
        <div >
            <i id="recivedRequests" class="fa-solid fa-envelope"></i>
 </div>
        <div>
            <i id="settings" class="fa-solid fa-gear"></i>
        </div>
        <div >
    <a href="/logout"> <i   id="logout" class="fa-solid fa-arrow-right-from-bracket"></i></a>  
              </div>
    </aside>
    <div class="aboutFriends">
        <div class="search-bar">
            <div class="input">
                <input placeholder="Search..." type="text">
                <i id="search-bar" class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="searchedFriends">
              
            </div>
        </div>
        <div class="myFriends">
        </div>
        <div class="sentRequests">
              <h1 style="text-align: center;">My sents</h1>         
        </div>
        <div class="recivedRequests">
            <div style="text-align: center;">
                <h1>My Friends</h1>
            </div>
                <div class="request">
                    </div>
                <div class="request"> 
                </div>
                 </div>
        <div class="settings">
         <div class="modes">
             <button class="dark" >dark</button>
             <button class="light" >light</button>
      </div>         
        </div>
    </div>
    <div  style="flex-grow: 1" class="chatbox">
        <div class="chatingFriend">
        </div>
        <div style="flex-grow: 1"  class="messages">    
        </div>
        <div class="typeMessage">
                <input placeholder="type message here..." type="text" >
            <div class="send-button">
                <button>send</button>
            </div>
        </div>
    </div>
</div>