
<div  class="wrapper">
    <form class="registrationForm" action="/register" method="POST">
      <div class="username">
      <input type="text" name="username" placeholder="username" >
      </div>
      <div class="email">
          <input type="text" name="email"  placeholder="email">
      </div>
      <div class="password">
          <input type="password" name="password" placeholder="password">
      </div>
      <div class="password2">
          <input type="password" name="confirmPassword" placeholder="confirm password">
      </div>
      <div class="button ">
          <button class="register" type="submit">Register</button>
              </div>
      <div class="link">
        Already have account? <a href="/login"> <span>Login</span> </a>
      </div>
      </form>
    </div>
    